@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.body-change {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  background:white;
}

@media screen and (min-width:700px){
    .text {
    padding-block-end:5em;
  /* position: relative; */
  width: 450px;
  left: 50%;
  margin-left: 30%;
  height: 50px;
  top: 50%;
  margin-top: 200px;
}
}

@media screen and (max-width:700px){
    .text {
    padding-block-end: 3em;
    margin-top:100px;
    margin-left:20%;
    margin-right:10%;
    width:85%;
}
.body-change{
    font-size:30px;
}
}
p.change {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
